
  
.container{

    column-count: 3;
    column-gap: 3%;
    margin: 0px;
    width: 100%;
    padding:0px;
    justify-content: center;
  }

.container .card {
    width: 90%;
    background-color: #e9cd00;
    border: 1px solid #506872;
    break-inside: avoid; /* this is important!! */
    padding: 5%;
    margin-bottom: 5%;
    display: grid;
    box-shadow: 12px 10px 2px #50687293;
}

@media  (max-width: 1030px) {
	.container {
        column-count: 2;
	}
  }
@media (max-width: 650px){
	.container {
        column-count: 1;
	}
  }