@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
/* 
blue: #182633
lightblue: 506872
yellow: #e9cd00 
orange: #f4a902
white: rgb(245, 245, 245);
*/
body{
    width:100%;
    margin:0;
    /* background-color: white; */
    /* background: linear-gradient(#ffffff39,#e9ce007b),
    url(../img/bg.jpg) */
    font-family: 'Source Code Pro', monospace;
}

.main{ 
  margin-top: 150px;
  text-align: center;
  
}


#topbar {
	height:			10px;
  background-color: #e9cd00;
  margin-left: 0;
  
	/* background: 	linear-gradient(to bottom right, rgb(200, 200, 200), rgb(100, 100, 100)); */
}

.smalllogo {
	width:	100px;
	height:	50px;
	float:	left;
  margin-left: 10px;
}


.topphrase {
	
	font-size:		10px;
	color:			rgb(255, 255, 255);
	padding-top:	40px;
	padding-right:	40px;
  
	float: 			right;
}

#navbar {
    
    list-style-type:	none;
    margin:				0;
    padding:			0;
    background-color: 	rgba(254, 254, 254, 0.926);
    font-size: 0;
    width: 100%;
    top: 0; left: 0;
    text-align: center;
    transition: height 0.35s ease, padding 0.35s ease;

  }

li {
    display: 	inline-block;
}

/* li a.active {
	background-color: 	rgb(239, 239, 239);
} */

li a, .dropbtn {
    display:			inline-block;
    color:				rgb(217, 224, 0);
    text-align:			center;
    padding:			15px 15px;
    text-decoration:	none;
	width:				100px;
    font-size: initial;
}

li a:hover, .dropdown:hover .dropbtn {
    color:	#506872ca;
    transition: 0.6s;
}

.dropdown {
    display:	inline-block;
	position:	relative;
}

.dropdown-content {
    display: 			none;
    position: 			absolute;
    background-color: 	rgba(255, 255, 255, 0.766);
    width: 				160px;
    box-shadow: 		5px 10px 10px rgba(0,0,0,0.3);
	z-index: 			1;
  transition: 0.6s;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
	  width: 128px;
	  z-index: 1;
}

.dropdown-content a:hover {
	background-color: 	#50687281;
  transition: 0.6s;
  color: #e9cd00;
}

.dropdown:hover .dropdown-content {
    display:	block;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.3s;
  overflow:hidden;

  
}




/* .smalllogo {
    margin-left: 10px;
    width: 55px;
    height: 20px;
    background: url("../img/logosmall.png");
    background-size: cover;                     
    background-repeat: no-repeat;
    background-position: center center; 
}
.smalllogo:hover {
    background: url("../img/logogifsmall.gif");
    background-size: cover;                     
    background-repeat: no-repeat;
    background-position: center center; 
} */

.biglogo{
    margin: auto;
    width: 50%;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
}
.biglogo img{
    width: 400px;
    height: 100px;

}