body {
    width: 100%;

}
.dark-mode {
    filter: gray;
    filter: grayscale(100%);
    background-color: black;
    color: white;
    
  }
#more {display: none;}
#more1 {display: none;}
#myDIV {
    display: none;
    width: 100vw;
    padding: 50px 0;
    text-align: center;
    background-color: white;
    margin-top: 20px;
    width: 100%;
    aspect-ratio: 100 / 29;
  }


.main {
    padding: 5%;
}

.biglogo {
    width: 500px;
    height: 183px;
}

  .biglogo:hover{
    transition: 0.6s;
    transform: scale(2);
  }

.horizontal {
    display: inline-block;
}

@media  (max-width: 1030px) {
    .biglogo {
        width: 333px;
        height: 122px;
    }
    }
    
@media (max-width: 650px){
    .biglogo {
        width: 234px;
        height: 61px;
    }
}

