@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
* {
  font-family: 'Nanum Gothic', sans-serif;

}

:root {
  --darkerRed: #C81D25;
  --MaxBlueGreen: #26b2bf;
  --reactionRed:#ef233c;
  --btnColor: #dc8c7d;
  --topbarRed: #ce0000;
  --offBlack: #212427;
  --lightSlateGray:#798f9d;
  --weirdyellow: rgb(196, 186, 0);
}
.main{ 
  display: block;
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  overflow-x: hidden;
  inline-size: 100%;
  overflow: hidden;
}
.inner {
  margin: 15px 5%;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(212, 12, 12, 0.4); /* Black w/ opacity */

}

.modal{
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

/* Modal Content/Box */
.modalmain {
  background-color: #fefefe;
  margin: auto;
  margin-top: 10%;
  padding: 20px;
  border: 2px solid rgb(9, 9, 9);
  width: 60%; /* Could be more or less, depending on screen size */
  align-items: center;
  position: relative;
  
}



/* The Close Button */
.close {
  color: var(--weirdyellow);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


#formpost {
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;

}


#myBtn{
  background-color: var(--weirdyellow);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

#saka{
  resize: none;
  width: 500px;
  height: 300px;
  border: none;
  padding-left: 5px;
  margin-top: 30px;
}
#titleinput {
  background-color: white;
  width: 40%;
  height: 25px;
  border: none;
  padding-left: 5px;
  color: black;
}

#search {
  width: 100%;
  height: 30px;
  border: none;
  padding-left: 5px;
  margin-bottom: 5px;
  background-color: white;
  color: black;
  display: inline-block;
  border: 1px solid #ccc; 
}

.wraptext{
  left:0;
  align-items: center;
}

#postinput{
  width: 100%;
  height: 10vw;
  justify-content: space-around;
  align-items: center;
  margin-left: 0;
}


#textareainput{
  display: inline-block;

  
}

#remainingChar {
  position: relative;
  margin: 0px;
  color: var(--reactionRed)
  
}

#giphydivbuttons {
  display: flex;
  justify-content: space-around;
  margin: 30px;
  height: 30px !important;
  align-items: center;

  
}

#btn-remove {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media only screen and (max-width: 700px) {
  .modal {
    background-color: black;
    
    
  }
}

#giphygetbutton{
  
  border-radius: 10px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: var(--MaxBlueGreen);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}

#giphygetbutton:hover{
  transition: 0.6s;
  color:white;
  background-color: var(--reactionRed);

}
#btnremove{
  background-color: var(--weirdyellow);
  border-radius: 10px;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}

#btnremove:hover {
  transition: 0.6s;
  color: white;
  background-color: var(--reactionRed);
}

.gifbox{
  box-shadow: 5px 5px #888888;

}
/* CARD STYLING */
.container .card, .container .cardQuotes{
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  
}

.container .card:hover, .container .cardQuotes:hover {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}

.container .card .post {
  border-top: 2px solid var(--reactionRed);
  border-bottom: 2px solid var(--reactionRed);
}

.container .card .date {
  font-style: italic;
  color: var(--MaxBlueGreen);
  float: right;
}

.card-header p {
  font-weight: bold;
}

.card-header .date {
  text-align: right;
  font-weight: bold;
}

.reactions .reaction .text {
  font-size: 10px;
  visibility: hidden;
}
.reactions{
  margin-top: 3%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.reaction{
display: inline-block;
position: relative;
text-align: center;
margin: 1em 0 0 0;
width: 15%
}

.reaction:hover > .emoji{
transform: scale(1.1, 1.1);
transition: all 0.7s;
}

.reaction:hover > .text {
color: #222;
transition: all 0.7s;
visibility: visible;
}

.emoji{
font-size: 18px;
cursor: pointer;
}

.count{
position: absolute;
top: -1em;
right: 0;
border-radius: 28px;
min-width: 10px;
height: 15px;
font-size: 10px;
background: var(--reactionRed);
color: white;
border: 2px solid white;
padding: 1px 3px 0px 3px;
cursor: pointer;
}

.comments {
  border-radius: none;
  margin: 0px 15px 15px 15px;
  padding: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  background-color: var(--lightSlateGray);
  display: hidden;
}



.comment {
  border-radius: none;
  margin: 15px;
  padding: 15px;
  background-color: white;
  font-weight: 200;
  display: visible !important;
  /* display: inline-block; */
}

.comments .form {
  width: 100%;
  justify-content: center;
  padding-bottom: 25px;
}

.writeComment {
  margin-top:5px;
  margin-bottom: 10px;
  width: 100%;
  display: none;
 
}

.writeComment textarea {
  margin-left: 4px;
  width: 80%;
  margin-top: 5px;
  height: 100px;
  border-radius: none;
  border: 10px solid #BFD7EA;
  padding: 5%;
  margin-bottom: 5px;
}

.writeComment input[type=submit] {
  margin-right: 5px;
}

.reactions button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* POST STYLING */
.postGify {
  width: 100%;
  margin-bottom: 3%;

}

#sortingdiv{
  margin: 10px;
  position: relative;
  width: 200px;
}

#sortBy{
  position: absolute;
  width: 200px;
}      

#post, select, #post textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid var(--reactionRed);
  resize: vertical;
  
}
#post textarea{
  box-shadow: 5px 5px #888888;
  border: 2px solid;
  padding: 20px; 
  width: 300px;
  resize: both;
  overflow: auto;
}
#selectCategories{
  box-shadow: 5px 5px #888888;
}

#sendInForm{

  border-radius: 10px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 2px;
  cursor: pointer;
  background-color: var(--reactionRed);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;


}

#sendInForm:hover{
  transition: 0.6s;
  color:var(--offBlack);
  background-color: var(--weirdyellow);
}

label {
  margin-top: 10px;
  padding: 12px 12px 12px 12px;
  display: inline-block;
}

input[type=submit] {
  background-color: var(--reactionRed);
  color:white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  transition: 0.6s;
  background-color: var(--darkerRed);
  font-weight: bold;
}


